# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/akram-portfolio
# For production: mongodb+srv://<user>:<password>@cluster.mongodb.net/akram-portfolio

# CORS
CLIENT_URL=http://localhost:5173

# Email (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
EMAIL_TO=akram@dev.io
